- title [@group.name, 'Forums']

.page-header
  %h2 Forums

%table.table.table-striped.table-hover
  %thead
    %tr
      %th.col-md-6 Forum
      %th.col-md-1 Topics
      %th.col-md-1 Replies
      %th.col-md-4 Last post

  %tbody
    - @forums.each do |forum|
      %tr
        %td
          = link_to forum.name, [@group, forum]
          = markdown_line forum.description
        %td TODO
        %td TODO
        %td TODO

- if can? :crud, @group.forums.new
  %ul.list-inline
    %li
      %strong Administer:
    %li= link_to 'New forum', new_group_forum_path(@group)
