- @results.each_with_hit do |result, hit|
  = link_to result.id, "http://wallgig.net/wallpapers/#{result.id}"
  - if result.thumbnail_image.present?
    = image_tag result.thumbnail_image.url
= debug @results