%section.wallpaper-list
  - @wallpapers.each do |wallpaper|
    %article.wallpaper-list-item
      = link_to wallpaper do
        = image_tag wallpaper.thumbnail_image.url, width: 250, height: 188
      .overlay.overlay-bottom
        #{wallpaper.image_width}x#{wallpaper.image_height}