- title [@user.username, 'Favourites']

%h3
  %span.glyphicon.glyphicon-star
  Favourites
  %small= @user.favourited_wallpapers.size

= render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers }