.page-header
  %h3
    %span.glyphicon.glyphicon-star
    = title [@user.username, 'Favourites'], 'Favourites'
    %small= @user.favourite_wallpapers.size

= render partial: 'wallpapers/list', locals: { wallpapers: @wallpapers }
