/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require selectize.bootstrap3
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700|Roboto+Condensed:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@import "bourbon";
@import "ladda";
// @import "bootstrap_and_overrides";
@import "bootstrap_and_overrides_old";

$wallpaper-thumbnail-width: 250px;

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

.container-full {
  width: 98% !important;
  margin: 0 auto;
}

@mixin responsive-container-width($columns) {
  $container-width: ($wallpaper-thumbnail-width + $grid-gutter-width) * $columns;
  $container-padding: 40px;
  @media (min-width: $container-width + $container-padding) {
    .container {
      width: $container-width;
    }
  }  
}

// @include responsive-container-width(1);
// @include responsive-container-width(2);
// @include responsive-container-width(3);
// @include responsive-container-width(4);
// @include responsive-container-width(5);
// @include responsive-container-width(6);
// @include responsive-container-width(7);
// @include responsive-container-width(8);
// @include responsive-container-width(9);
// @include responsive-container-width(10);
// @include responsive-container-width(11);
// @include responsive-container-width(12);
// @include responsive-container-width(13);
// @include responsive-container-width(14);
// @include responsive-container-width(15);
// @include responsive-container-width(16);

.open .dropdown-menu > li > a {
  padding: 10px 20px;
}

/* Navbar */
.navbar .navbar-nav div .btn {
  margin-top: 8px;
}
.btn-upload {
  margin-right: 20px;
}


/* Panel */
.panel-transparent {
  &, .panel-body {
    border: none;
  }
  background: none;
}

.panel-body {
  border-bottom: 1px solid $panel-default-border;
}
.panel-body:last-child {
  border-bottom: none;
}


.header-content {
  background-color: lighten($body-bg, 10%);
  padding: 40px 0;
}

#main {
  padding: 40px 0;
}


.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

@import "header_cover";

@import "collections";
@import "comments";
@import "groups";
@import "users";
@import "utilities";
@import "wallpapers";
