/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require typeahead.js-bootstrap.css/typeahead.js-bootstrap
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700|Roboto+Condensed:400,700);

@import "bourbon";
@import "ladda";
// @import "slate_theme";
@import "bootstrap_overrides";
@import "twitter/bootstrap";

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 70px;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.open .dropdown-menu > li > a {
  padding: 10px 20px;
}

// @import "users";
// @import "wallpapers";
// @import "utilities";