$navbar-height: 52px;
.header-media-cover {
  height: 100px;
  margin-bottom: $navbar-height;
  position: relative;

  &.has-cover {
    height: 200px;
  }

  .media {
    margin-top: 0;
  }

  .media-meta {
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;

    .avatar {
      z-index: 10;
      position: relative;
    }
  }

  .navbar {
    position: absolute;
    bottom: -$navbar-height;
    left: 0;
    right: 0;
    margin: 0;
  }
  &.has-avatar .navbar-nav {
    margin-left: 112px;
  }
}
