/*
  Loading
 */
.loading {
  margin: 10% auto;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #fff;
  border-right: 6px solid #3a3f44;
  border-top: 6px solid #3a3f44;
  border-radius: 100%;
  height: 125px;
  width: 125px;
  -webkit-animation: spin .6s infinite linear;
  -moz-animation: spin .6s infinite linear;
  -ms-animation: spin .6s infinite linear;
  -o-animation: spin .6s infinite linear;
  animation: spin .6s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}



/*
  Tags
 */
.tags{
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
}
.tags li {
  margin-bottom: 10px;
}
.tags li, .tags a{
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
}
.tags a{
  margin-left: 20px;
  padding: 0px 10px 0px 12px;
  background-color: lightSlateGray;
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;
}
.tags a:before{
  content: "";
  float: left;
  position: absolute;
  top: 0px;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent lightSlateGray transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0px;
}
.tags a:after{
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background: #fff;
  -moz-box-shadow:-1px -1px 2px #333;
  -webkit-box-shadow:-1px -1px 2px #333;
  box-shadow:-1px -1px 2px #333;
}
.tags a:hover{
  background:#555;
}
.tags a:hover:before{
  border-color:transparent #555 transparent transparent;
}

/*
  Tag Cloud
 */
.tag-size-1 { font-size: 1.0em; }
.tag-size-2 { font-size: 1.2em; }
.tag-size-3 { font-size: 1.4em; }
.tag-size-4 { font-size: 1.6em; }