.list-wallpaper {
  @extend .list-unstyled;
  @extend .clearfix;
  margin-left: -10px;
  margin-right: -10px;
  li {
    width: 250px;
    height: 188px;
    margin: 10px;
    overflow: hidden;
    float: left;
    position: relative;
    @include transition(all 0.1s ease-in);
    .overlay {
      position: absolute;
      @include transition(all 0.1s ease-in);
    }
    .overlay-bottom {
      $overlay-height: 30px;
      left: 0;
      width: 100%;
      bottom: -$overlay-height;
      height: $overlay-height;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: center;
      line-height: $overlay-height;
      .btn {
        color: white;
        .glyphicon {
          margin-right: 4px;
        }
      }
    }
    .overlay-left {
      top: 5px;
      left: 5px;
      opacity: 0;
    }
    .overlay-right {
      top: 0;
      right: 0;
      opacity: 0;
      .btn-report {
        text-shadow: black 1px 1px 1px;
      }
    }
    .label {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  li:hover {
    @include box-shadow(#666 0px 0px 5px);
    .overlay {
    }
    .overlay-bottom {
      bottom: 0;
    }
    .overlay-left, .overlay-right {
      opacity: 1;
    }
  }
  .purity-sfw {
  }
  .purity-sketchy {
    border: 3px solid #fda500;
  }
  .purity-nsfw {
    border: 3px solid #bf0600;
  }
}

.btn-group-purity {
}
.btn-sfw {
  color: $btn-default-color;
  &.btn-active {
    @extend .btn-default;
  }
}
.btn-sketchy {
  color: $btn-warning-bg;
  &.btn-active {
    @extend .btn-warning;
  }
}
.btn-nsfw {
  color: $btn-danger-bg;
  &.btn-active {
    @extend .btn-danger;
  }
}

.list-tags {
  @extend .list-inline;
  margin-bottom: 0;
}

.list-metadata {
  @extend .list-unstyled;
  margin: 0;
  font-size: $font-size-small;
  li {
    text-align: right;
    strong {
      float: left;
    }
  }
}

.list-color {
  @extend .list-inline;
  @extend .clearfix;
  li {
    padding: 0;
    float: left;
    width: 30px;
    height: 30px;
    border: 2px transparent;
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 2px transparent solid;
    }
  }
  li:hover a {
    border-color: $gray;
  }
  li.active a {
    border-color: $gray-darker;
  }
}

.img-wallpaper {
  @include box-shadow(#666 0px 0px 5px);
    @include transition(all 0.1s ease-in);

  &.state-1 {
    cursor: -webkit-zoom-in;  cursor: zoom-in;
    @extend .img-responsive;
  }

  &.state-2 {
    cursor: -webkit-zoom-out;  cursor: zoom-out;
  }
}