$wallpaper-sidebar-width: 320px;

.wallpaper-show-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.has-navbar {
    top: 50px;
  }

  /* Large buttons */
  .toggle-sidebar-btn, .close-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
  }

  .close-btn {
    padding: 10px;
    font-size: 20px;
    color: $text-color;
  }

  .wallpaper-stage:hover .toggle-sidebar-btn {
    opacity: 1;
  }
  .toggle-sidebar-btn {
    @include transition(all 0.1s ease-in);
    opacity: 0;
    color: darken($text-color, 60%);
    padding: 20px;
    &:hover {
      color: $text-color;
    }
    .glyphicon.glyphicon-resize-full {
      display: none;
    }
    .glyphicon.glyphicon-resize-small {
      display: block;
    }
  }
  &.has-sidebar {
    .toggle-sidebar-btn {
      .glyphicon.glyphicon-resize-full {
        display: block;
      }
      .glyphicon.glyphicon-resize-small {
        display: none;
      }
    }
  }

  /* Comments */
  textarea#comment_comment {
    font-size: 13px;
  }
  .list-comment {
    li {
      margin-bottom: 10px;
      .show-when-hover {
        opacity: 0;
        @include transition(opacity 0.1s ease-in);
      }
      &:hover .show-when-hover {
        opacity: 1;
      }
    }
  }
}


.wallpaper-show-container.has-sidebar .wallpaper-stage {
  right: $wallpaper-sidebar-width;
}
.wallpaper-stage {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .img-wallpaper {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 95%;
    max-width: 95%;
    margin: auto;
    height: auto;
    width: auto;
  }
}

.wallpaper-show-container.has-sidebar .wallpaper-sidebar {
  display: block;
}
.wallpaper-sidebar {
  display: none;
  width: $wallpaper-sidebar-width;
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

// .wallpapers.show {
//   #main > .container {
//     @extend .container-full;
//   }
// }


.list-wallpaper {
  @extend .list-unstyled;
  @extend .clearfix;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  text-align: center;
  &.row-1 {
    height: 208px;
  }
  &.row-2 {
    height: 416px;
  }
  li {
    width: 250px;
    height: 188px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    @include transition(all 0.1s ease-in);
    .overlay {
      position: absolute;
      @include transition(all 0.1s ease-in);
    }
    .overlay-bottom {
      $overlay-height: 30px;
      left: 0;
      width: 100%;
      bottom: -$overlay-height;
      height: $overlay-height;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-align: center;
      line-height: $overlay-height;
      .btn {
        color: white;
        .glyphicon {
          margin-right: 4px;
        }
      }
    }
    .overlay-left {
      top: 5px;
      left: 5px;
      opacity: 0;
    }
    .overlay-right {
      top: 0;
      right: 0;
      opacity: 0;
      .btn-report {
        text-shadow: black 1px 1px 1px;
      }
    }
    .label {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  li:hover {
    @include box-shadow(#666 0px 0px 5px);
    .overlay {
    }
    .overlay-bottom {
      bottom: 0;
    }
    .overlay-left, .overlay-right {
      opacity: 1;
    }
  }
  .purity-sfw {
  }
  .purity-sketchy {
    border: 3px solid #fda500;
  }
  .purity-nsfw {
    border: 3px solid #bf0600;
  }
}

.list-facet {
  @extend .list-unstyled;
}
.list-facet-tags {
  @extend .clearfix;
  .btn-group {
    margin-right: 4px;
  }
  li {
    float: left;
    width: 200px;
  }
}

.list-tag {
  @extend .list-unstyled;
  margin-bottom: 0;
}

.list-metadata {
  @extend .list-unstyled;
  margin: 0;
  font-size: $font-size-small;
  li {
    text-align: right;
    strong {
      float: left;
    }
  }
}

.list-color {
  @extend .list-inline;
  @extend .clearfix;
  li {
    padding: 0;
    float: left;
    width: 30px;
    height: 30px;
    border: 2px transparent;
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 2px transparent solid;
    }
  }
  li:hover a {
    border-color: $gray;
  }
  li.active a {
    border-color: $gray-darker;
  }
}

.btn-group-purity {
}
.purity-sfw, .btn-sfw {
  color: $btn-success-bg;
}
.purity-sketchy, .btn-sketchy {
  color: $btn-warning-bg;
}
.purity-nsfw, .btn-nsfw {
  color: $btn-danger-bg;
}
.btn-sfw {
  &.btn-active {
    @extend .btn-success;
  }
  &:hover {
    color: darken($btn-success-bg, 10%);
  }
}
.btn-sketchy {
  &.btn-active {
    @extend .btn-warning;
  }
  &:hover {
    color: darken($btn-warning-bg, 10%);
  }
}
.btn-nsfw {
  &.btn-active {
    @extend .btn-danger;
  }
  &:hover {
    color: darken($btn-danger-bg, 10%);
  }
}

.img-wallpaper {
  // @include box-shadow(#666 0px 0px 5px);
  @include transition(all 0.1s ease-in);

  // &.state-1 {
  //   cursor: -webkit-zoom-in;  cursor: zoom-in;
  //   @extend .img-responsive;
  // }

  // &.state-2 {
  //   cursor: -webkit-zoom-out;  cursor: zoom-out;
  // }
}

.form-group.favourite_collection {
  margin-bottom: 0;
}

.lazy {
  opacity: 0;
  @include transition(opacity 0.2s ease-in);
  &.lazy-show {
    opacity: 1;
  }
}