body.wallpapers.show {
  height: 100%;
  #main {
    padding-top: 80px; // Compensate for navbar
    position: absolute;
    top: 0;
    height: 100%;
    .row {
      height: 100%;
    }
  }
}

.col-wallpaper {
  text-align: center;
  height: 100%;
}

.img-wallpaper-parent {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.img-wallpaper {
  @include box-shadow(#101010 2px 2px 10px);
  @include transition(1s);
  @include transition-timing-function(ease-in);

  &.state-1 {
    max-width: 90%;
    max-height: 90%;
    cursor: -webkit-zoom-in;  cursor: zoom-in;
  }

  &.state-2 {
    cursor: -webkit-zoom-out;  cursor: zoom-out;
  }
}


.wallpaper-list {
  text-align: center;
}

.wallpaper-list-item {
  display: inline-block;
  width: 250px;
  height: 188px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  @include transition(all 0.1s ease-in);
  @include box-shadow(#101010 2px 2px 5px);

  &:hover {
    @include box-shadow(#181818 0px 0px 5px);
  }
  .overlay {
    position: absolute;
    @include transition(all 0.1s ease-in);
  }
  &:hover .overlay {
    // display: block;
  }
  .overlay-bottom {
    left: 0;
    right: 0;
    bottom: -35px;
    height: 35px;
    // background-color: rgba(0, 0, 0, 0.4);
    @include background(linear-gradient(transparent, #101010));
    color: white;
    line-height: 35px;
    text-align: center;
  }
  &:hover .overlay-bottom {
    bottom: 0;
  }
}


/*
  Color bar
 */
ul.color-bar {
  list-style: none;
  width: 100%;
  height: 15px;
  padding: 0;

  li {
    float: left;
    width: 20%;
    height: 100%;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    @include transition(all 0.1s);
    @include transition-timing-function(ease-in);
  }

  a:hover {
    height: 200%;
    @include box-shadow(#101010 0px 2px 10px);
  }
}