<p>
  To add a profile cover, go to a wallpaper, click the <a class="btn btn-default btn-sm"><span class='glyphicon glyphicon-list'></span></a> icon on the sidebar and click the <strong>Set as a profile cover</strong> link as shown below.
</p>
<p class="text-center">
  <img src="<%= asset_path('guides/add_profile_cover.jpg') %>">
</p>